<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>hey <%= name %></title>
</head>
<body>
    <div class = "main text">
        <h1>Hey, <%= name %> 🥺. I'm just looking for you to tell a thing.</h1>
        <h3>I wish you to open that message</h3>
        //Enter your number instead of xxxxxxxxx
        <a class="Link" href="https://wa.me/xxxxxxxxx?text=*Hey%20your%20friend%20want%20to%20secretly%20tell%20you%20have%20good%20heart.%20This%20message%20can%20be%20reachable%20to%20that%20friend.*">Encrypted message click to see 👀</a>
        <div class="out">
            
        </div>
    </div>
</body>
</html>
