<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>hey <%= name %></title>
</head>
<body>
    <div class = "main text">
        <h1>Hey, <%= name %> 🥺. I'm just looking for you to tell a thing.</h1>
        <h3>I wish you to open that message</h3>
        <a class="Link" href="https://wa.me/9080820022?text=*Macha%20your%20friend%20don't%20know%20how%20to%20say%20he%20miss%20you.%20This%20message%20can%20be%20a%20consolation%20message%20for%20your%20friend.*">Encrypted message click to see 👀</a>
        <div class="out">
            
        </div>
    </div>
</body>
</html>