<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Information deliver</title>
</head>
<body>
    <div class = "main text">
        <h1>Hey, I'm Gokul. I'm looking forward to tell a thing to you my friend.</h1>
        <form action="\" class="inside" method="post">
            <h3>Can I know who is this?!</h3>
            <input class="text name" type="text" name="name" placeholder="Enter your name">
            <button class="final" type="submit">Next</button>
        </form>
    </div>
</body>
</html>